div.card {
  width: 100vw;
  height: 52px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border: none;
  font-family: 'Courier', serif;
  z-index: 100;
}

div.head {
  width: 80vw;
  margin: 0 10vw;
  display: flex;

  div.logo {
    width: 10vw;
    
    img {
      margin: 5px 50px;
    }
  }

  div.title {
    width: 60vw;
    margin-top: 5px;

    h5 {
      text-align: center;
    }
  }

  div.cart {
    width: 10vw;

    img {
      margin: 5px 80px;
    }
  }
}

img {
  width: 40px;
  height: 40px;
}